<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039293878664-fqcbrm0iooim1s4pbocm79pfog59aiej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039293878664-fqcbrm0iooim1s4pbocm79pfog59aiej</string>
	<key>API_KEY</key>
	<string>AIzaSyBy4Zoc1a1a1W6jxisvNcZCsNt8ra-AulA</string>
	<key>GCM_SENDER_ID</key>
	<string>1039293878664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antoniofm.MyMovies.dev</string>
	<key>PROJECT_ID</key>
	<string>mymovies-a2745</string>
	<key>STORAGE_BUCKET</key>
	<string>mymovies-a2745.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039293878664:ios:5841e73f42f874de7eea3d</string>
	<key>DATABASE_URL</key>
	<string>https://mymovies-a2745.firebaseio.com</string>
</dict>
</plist>