//
//  MyMovies.release.xcconfig
//  MyMovies
//
//  Created by Antonio Fernández Martín on 22/08/2020.
//  Copyright © 2020 Antonio Fernández Martín. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-MyMovies/Pods-MyMovies.release.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.antoniofm.MyMovies.test

SDOSEnvironment = Release
EncryptPassword = MyMovies

APP_ICON_ASSETS = AppIcon-Test
